.container {
  margin-bottom: 1rem;
}

.net {
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-6)
  );
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-gray-5));
}

.follow span {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-0));
}

.iconContainer {
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  transition: background-color 0.3s ease-in-out;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-gray-8)
    );
  }
}

.tab {
  flex: 1;
  font-size: 1rem;
}

.posts {
  border-bottom: 1.5px solid
    light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-0));
}

.replies {
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-6));
}
