.container {
  position: relative;
  height: 60px;
}

@media (max-width: 48em) {
  .container {
    height: 50px;
  }
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: var(--mantine-font-size-md);
}

.backButton {
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.rightButton {
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.tabs {
  width: 100%;
  max-width: 400px;
  align-self: flex-end;
}

.tab {
  flex: 1;
  font-weight: 500;
  font-size: var(--mantine-font-size-md);
  height: 60px;
  border-bottom: 2px solid transparent;
  transition: all 150ms ease;
  color: var(--mantine-color-gray-6);
}

@media (max-width: 48em) {
  .tab {
    height: 50px;
  }
}

.tab:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.tab[data-active] {
  border-bottom-color: light-dark(
    var(--mantine-color-gray-7),
    var(--mantine-color-gray-3)
  );
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
