.container {
  position: relative;
  height: 60px;
}

@media (max-width: 48em) {
  .container {
    height: 50px;
  }
}

.dropdownIcon {
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: var(--mantine-shadow-lg);
  border: 1px solid var(--border-color);

  &:hover {
    transform: scale(1.1);
  }
}

.burger {
  position: absolute;
  right: 0;
  display: flex;
  align-content: center;
}

.tabs {
  width: 100%;
  max-width: 400px;
}

.tab {
  flex: 1;
  font-weight: 600;
  height: 48px;
}

