# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
node_modules
dist
*.local
data
*.env

.nx/cache
.nx/workspace-data

certbot/conf/*
certbot/www/*
!certbot/conf/.gitkeep
!certbot/www/.gitkeep

.data